body {
    font-family: Nunito;
    color: #2c4959;
}

h4 {
    margin-bottom: 0px;
}

textarea {
    resize: none;
    font-size: 14px;
    margin: 20px 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}

.col-half {
    width: 50%;
}

.file-button {
    border: none;
    background-color: white;
    text-decoration: underline;
    font-size: medium;
    color: blue;
}

.file-button:hover {
    cursor: pointer;
}

.file-input {
    display: none;
}

.submit {
    background: #2c4959;
    border: 1px solid #2c4959;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    width: 150px;
    height: 40px;
    max-width: 90%;
}

.submit:hover {
    cursor: pointer;
}

#activities {
    font-size: 14px;
}

#message {
    border-radius: 3px;
    background: white;
    padding: 10px;
    width: 100%;
    height: 120px;
}

#trip-date {
    margin-top: 10px;
    height: 20px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 2px;
    width: 120px;
}

#message h1 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 16px;
}

#message p {
    font-weight: 300;
    line-height: 150%;
}

#message ul {
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
    text-align: center;
}

#message li a {
    display: inline-block;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    background: rgb(3,155,229);
    color: white;
    border: 1px solid rgb(3,155,229);
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

/*
	Ratings Stars
	(with as little code as possible)
*/
div.stars {
  display: inline-block;
  margin-bottom: 15px;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 3px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #d95a34;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #d95a34;
}

input.star-1:checked ~ label.star:before { color: #d95a34; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.media-preview {
    height: 40px;
    width: 40px;
    margin-left: 40px;
}

.notify-message-error {
    color: red;
}
.notify-message-warning {
    color: brown;
}
.notify-message-normal {
     color: black;
 }
.notify-message-good {
    color: green;
}

.park-title {
    font-weight: bold;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 30px;
}

#sign-in{
    background: url("../images/btn_google_signin_dark_normal_web.png") no-repeat scroll 0 0 transparent;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    cursor: hand;
}

#sign-out {
    background: #737373;
    border: 1px solid #2c4959;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 30px;
    max-width: 90%;
}

.other-activities-box {
    margin-top: 10px;
}