* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.flex-box {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

#photo-wrapper, #left-box {
    width: 49%;
}

#left-box {
    order: 1;
    margin-right: 1%;
}

.button-wrapper {
    margin-top: 5px;
}

.button-wrapper i {
    font-size: 18px;
    padding-right: 10px;
}


#photo-wrapper {
    order:2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-photo {
    width: 100%;
}

#map {
    width: 100%;
    min-height: 300px;
    height: 100%;
}

.crop-height {
  max-height: 300px;
  overflow: hidden; 
}

.map-toggle {
    width: 50%;
    /*margin: 5px;*/
}

#show-map {
    float: right;
    border-radius : 0 0 3px 0;
}

#show-photo {
    float: left;
    border-radius : 0 0 0 3px;
}


.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited {
    background-color: #d95a34;
    border: none;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:visited {
    background-color: #009399;
    border: none;
    -webkit-box-shadow: inset 1px 1px 16px 0px rgba(2,91,97,1);
    -moz-box-shadow: inset 1px 1px 16px 0px rgba(2,91,97,1);
    box-shadow: inset 1px 1px 16px 0px rgba(2,91,97,1);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:visited {
    color: white;
    background-color: #2c4959;  /*TODO*/
    border: none;
}

.activity-icon{
    width: 40px;
    padding-top: 5px;
}

.report-entry {
    border-bottom: 1px dotted black;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.toggle-full-view {
    text-decoration: underline;
    cursor: pointer;
}

.hide {
    display: none;
}

#photo {
    height: auto;
    width: 100%;
}

.call-to-action-btn {
	width: 100%;
    white-space: normal;
    margin: 3px;   
}

.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 60px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#trip-reports-header{
    margin-botton: 40px;
}


#nextPage, #previousPage{
    cursor: pointer;
    cursor: hand;
    margin: 3px;
}

@media screen and (max-width: 700px) {
    #left-box {
        width: 100vw;
        order: 2;
    }

    #photo-wrapper {
        width: 95vw;
        order:1;
    }
}

#pagination .pagenav {
    cursor: pointer;
}

#pagination .disabled {
    color: #aaa;
    cursor: default;
}

